html,
body {
    margin: 0;
    padding: 0;
}

.box-1 {
    padding: 1em;
}

.box {
    border-radius: 15px 50px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 20px;
    border-collapse: separate;
    border-spacing: 15px 50px;
    background-color: rgb(203, 250, 203);
}

.header1 {
    text-align: center;
    margin: 5px;
}

.header2 {
    text-align: center;
    padding-bottom: 5px;
    margin: 0%;
}

.header3,
.skills {
    text-align: center;
}

.header3>*,
.skills>* {
    display: inline-block;
    vertical-align: middle;
    /* background-color: rgb(0, 88, 0); */
}

.cell-number,
.email,
.github,
.ui-design {
    width: 426px;
    height: 20px;
}

.line {
    border: 1px solid black;
}

.sub-header1,
.sub-header2 {
    margin: 0%;
}

p:first-of-type {
    margin-top: 0.5em;
}

.ui-design,
.services-development,
.testing,
.product-management,
.collaboration {
    width: 250px;
    height: 20px;
}

.wipro {
    margin: 0.5em;
}

/* .image {
    display: inline-block;
} */